<div class="text-right mt-5">
  <%= 
    link_to_if(@list.user.id == current_user.id, '+お店を登録する', new_list_restaurant_path(@list)) do 
      ''
    end
  %>
</div>
<div class="text-right my-4"> 
  <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
    <img src="https://api.gnavi.co.jp/api/img/credit/api_155_20.gif" width="155" height="20" border="0" alt="グルメ情報検索サイト　ぐるなび">
  </a>
</div>
<% if @restaurants.present? %>
  <% @restaurants.each do |r| %>
    <div class="card my-3">
      <div class="card-header d-flex justify-content-end">
        <% if @list.user.id == current_user.id %>
          <%= link_to '詳細', restaurant_path(r), class: "mx-2" %>
          <%= link_to '編集', edit_restaurant_path(r), class: "mx-2" %>
          <%= link_to '削除', restaurant_path(r), data: { confirm: "本当によろしいですか?" }, method: :delete, class: "mx-2" %>
        <% end %>
      </div>
      <div class="card-body row">
        <div class="col-6">
          <div>・店名</div>
          <div>・カテゴリ</div>
          <div>・場所</div>
          <div>・予算</div>
          <div>・電話番号</div>
          <div>・アクセス</div>
          <div>・おすすめコース</div>
          <div>・同行者</div>
          <div>・コメント</div>
        </div>
        <div class="col-6">
          <div><%= r.name.present? ? r.name.truncate(7) : '未登録' %></div>
          <div><%= r.category.present? ? r.category.truncate(7) : '未登録' %></div>
          <div><%= r.place.present? ? r.place.truncate(7) : '未登録' %></div>
          <div><%= r.price.present? ? r.price.to_s + '円' : '未登録' %></div>
          <div><%= r.tel.present? ? link_to(r.tel, "tel:#{r.tel}") : '未登録' %></div>
          <div><%= restaurant_access(r)&.truncate(7) %></div>
          <div><%= r.recommended_menu.present? ? r.recommended_menu.truncate(7) : '未登録' %></div>
          <div><%= r.participant.present? ? r.participant.truncate(7) : '未登録' %></div>
          <div><%= r.comment.present? ? r.comment.truncate(7) : '未登録' %></div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="text-center mt-3">まだお店が登録されていません</div>
<% end %>