<%#= form_with model: @restaurant, url: list_restaurants_path, local: true, class: "text-center" do |f| %>
<%# end %>

<%= form_with url: new_list_restaurant_path, method: :get, local: true, class: "mt-2" do |f| %>
  <%= f.label :name, '名前で検索' %>
  <div><%= f.text_field :name,  class: "w-100" %></div>
  <div class="mt-3 text-center"><%= f.submit '検索' %></div>
<% end %>
<small>Powered by <a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a></small>

<% if @results %>
  <% @results.each do |r| %>
    <%= r['name'] %>
    <%= r['genre']['catch'] %>
    <%= r['address'] %>
    <%= r['budget']['name'] %>
    <%= r['urls']['pc'] %>
  <% end %>
<% end %>

