<div class="mt-5">承認したユーザーと共有するリストを選択してください</div>
<%= form_with url: user_permission_lists_path, local: true, class: "mt-3" do |f| %>
  <% @lists.each do |l| %>
    <div class="my-2 text-center">
      <label>
        <%= l.title %>
        <%= f.check_box(:list_ids, { multiple: true, checked: false }, l.id, nil)  %>
      </label>
    </div>
  <% end %>
  <%= f.hidden_field :permission_request_id, value: @permission_request_id %>
  <div class="text-center mt-4"><%= f.submit '共有する'%></div>
<% end %>
