<h1 class="text-center mt-3">ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field text-center my-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: "w-75 p-2" %>
  </div>

  <div class="field text-center my-3">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class: "w-75 p-2" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions text-center">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class="text-center mt-3">
  <%= render "devise/shared/links" %>
</div>
