<div class="mt-3">
  <div class="my-3">
    <div class="text-center">
      <% if @restaurant.image.present? %>
        <%= image_tag @restaurant.image, size: '300' %>
      <% else %>
        <div class="my-5">画像無し</div>
      <% end %>
    </div>
  </div>
  <table class="table">
    <tr>
      <td class="font-weight-bold" style="width: 100px;">店名</td>
      <td><%= @restaurant.name %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">カテゴリ</td>
      <td><%= @restaurant.category %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">場所</td>
      <td><%= @restaurant.place %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">予算</td>
      <td><%= @restaurant.price %>円</td>
    </tr>
    <tr>
      <td class="font-weight-bold">アクセス</td>
      <td><%= restaurant_access(@restaurant) %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">電話番号</td>
      <td><%= @restaurant.tel.present? ? link_to(@restaurant.tel, "tel:#{@restaurant.tel}") : '未登録' %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">営業時間</td>
      <td><%= @restaurant.opentime %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">定休日</td>
      <td><%= @restaurant.holiday %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">URL</td>
      <td><%= link_to "#{@restaurant.url&.truncate(30)}", @restaurant.url, target: '_blank' %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">コメント</td>
      <td><%= @restaurant.comment %></td>
    </tr>
  </table>
</div>