<% if user_signed_in? %>
  <div class="container"> 
    <div class="row">
      <%= link_to 'Myリスト', user_lists_path(current_user), class: "py-3 btn col-3 text-center small border" %>
      <%= link_to 'リスト一覧', user_permitted_lists_path(current_user), class: "py-3 btn col-3 text-center small border" %>
      <%= link_to '検索', users_searches_path, class: "py-3 btn col-3 text-center small border" %>
      <%= link_to 'リクエスト', user_requests_path(current_user), class: "py-3 btn col-3 text-center small border" %>
    </div>
  </div>
<% else %>
  <div class="footer bg-success mt-5 static-bottom">
    <div class="text-center text-white"><small>@<%= Time.zone.now.year %>Arcana</h6></small>
  </div>
<% end %>