<% if user_signed_in? %>
  <div class="container fixed-bottom bg-white"> 
    <div class="row">
      <%= link_to(user_lists_path(current_user), class: "py-3 btn col-3 text-center small border") do %>
        <div><%= fa_icon "star", class: "fa-2x" %></div>
        <div>Myリスト</div>
      <% end %>
      <%= link_to(user_permitted_lists_path(current_user), class: "py-3 btn col-3 text-center small border") do %>
        <div><%= fa_icon "list-alt", class: "fa-2x" %></div>
        <div>リスト一覧</div>
      <% end %>
      <%= link_to(users_searches_path, class: "py-3 btn col-3 text-center small border") do %>
        <div><%= fa_icon "users", class: "fa-2x" %></div>
        <div>検索</div>
      <% end %>
      <%= link_to(user_requests_path(current_user), class: "py-3 btn col-3 text-center small border") do %>
        <div><%= fa_icon "user", class: "fa-2x" %></div>
        <div>マイページ</div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="footer bg-success mt-5 static-bottom">
    <div class="text-center text-white"><small>@<%= Time.zone.now.year %>Arcana</h6></small>
  </div>
<% end %>