<!DOCTYPE html>
<html>
  <head>
    <title>Arcana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-success" role="alert"><%= value %></div>
    <% end %>
    <main class="mx-auto min-vh-100 bottom-height" style="width: 90%;">
      <%= yield %>
    </main>
    <%= render 'layouts/footer'%>
  </body>
</html>
